.galery{
    height: max-content;
    box-sizing: border-box;
    padding: 10px;
}

.main-image{
    height: max-content;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.main-image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.carousel li{
    height: 70px;
    max-width: 100%;
    margin: 0 5px;
}
.carousel li:first-of-type{
    margin-left: 0;
}
.carousel li input{   
    border-radius: 5px;
    max-height: 100px;
    height: 100%;
}

.galery ::-webkit-scrollbar {
    height: 5px;
    background-color: lightgray;
    border-radius: 5px;
}

.galery ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.galery ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

.galery ::-webkit-scrollbar-button {
    display: none;
}