@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.app {
  font-family: 'Roboto', sans-serif;
  margin: 0px auto;
  background-color: white;
  color: black;
}

.menu {
  display: flex;
  justify-content: center;
  flex: 1;
  
  background-color: #007B61FF;
}

.menu .button{

  margin: 20px;
  color: white;
}

h1{
  text-align: center;
}